body _{
    background-color: burlywood;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}
#cabecera {
    background-color: blue;
    color: antiquewhite;
    font-size: 3rem;
    text-align: center;
    border-radius: 3%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}